* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: lightgray;
}

.dice-window {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.dice-block {
    height: 150px;
    flex-basis: 150px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px black solid;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.dice-sub-block {
    background-color: white;
    border: 1px black solid;
    border-radius: 20px;
    flex-basis: 120px;
    height: 120px;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
}

/* .dice-window div div {
    background-color: white;
    border-radius: 20px;
    flex-basis: 120px;
    height: 120px;
    flex-shrink: 0;
    flex-grow: 0;
} */

/* .dice-window:nth-child(n) div span {
    margin: 10px;
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 10px;
}

.dice-window:nth-child(2n) div span {
    margin: 10px;
    height: 20px;
    width: 20px;
    background-color: blue;
    border-radius: 10px;
} */

div.dice-sub-block span {
    margin: 10px;
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 10px;
}

div.dice-01 {
    justify-content: space-evenly;
    align-items: center;
}

div.dice-02 {
    justify-content: space-between;
}

span.dice-span-02-01 {
    align-self: flex-start;
}

span.dice-span-02-02 {
    align-self: flex-end;
}

div.dice-03 {
    justify-content: space-between;
}

span.dice-span-03-01 {
    align-self: flex-start;
}

span.dice-span-03-02 {
    align-self: center;
}

span.dice-span-03-03 {
    align-self: flex-end;
}

div.dice-04 {
    flex-wrap: wrap;
}

div.dice-04-sub-01, div.dice-04-sub-02 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

span.dice-span-04-01 {
    align-self: center;
}

span.dice-span-04-02 {
    align-self: center;
}

span.dice-span-04-03 {
    align-self: center;
}

span.dice-span-04-04 {
    align-self: center;
}

div.dice-05 {
    flex-wrap: wrap;
}

div.dice-05-sub-01, div.dice-05-sub-03 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div.dice-05-sub-02 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

div.dice-06 {
    flex-wrap: wrap;
}

div.dice-06 div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

